.logo{
    float:left;
    width: 50%;
}
.leyenda {
    float:right;
    text-align: right;
}
.total {
    text-align: right;
}
body {
    font-family: sans-serif ;
    font-size: 12px ;
    width: 100%;
    margin: auto;
}

th,
td {
    padding: 4px 4px 4px 4px ;
    text-align: center ;
}

th {
    border-bottom: 2px solid #333333 ;
}

td {
    border-bottom: 1px dotted #999999 ;
}

tfoot td {
    border-bottom-width: 0px ;
    border-top: 2px solid #333333 ;
    padding-top: 20px ;
}
h1 {
    padding: 60px 15px 10px 15px;
}

h1 {
    margin: 15px;
}
table {
    width: 100%;
    clear: both;
}
